<%= form_for @review do |f| %>
    <fieldset>
    <legend>Review:</legend>
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :body %>
            <%= f.text_area :body %>
        </div>
        <div>
            <%= f.label :score %>
            <%= f.number_field :score %>
        </div>
        <%= f.submit "Save review" %>
    </fieldset>
<% end %>