<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for :page_title %> - Bien Reviews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to root_path do %>
          <%= image_tag "bien-logo.svg" %>
        <% end %>
      </h1>
      <nav>
          <% if is_logged_in? %>
            <div class="session">
              Hi, <%= @current_user.username %>
            </div>
            <%if @current_user.is_admin? %>
            <div class="session">
              <%= link_to "Admin", admin_root_path %>
            </div>
            <% end %>
            <div class="session">
              <%= link_to "Log out", session_path, method: :delete %>
            </div>
            <div class="button">
            <%= link_to "Add a review", new_review_path %>
            </div>
          <% else %>
            <div class="session">
              <%= link_to "Sign up", new_user_path %>
            </div>
            <div class="button">
              <%= link_to "Log in", new_session_path %>
            </div>
          <% end %>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      Copyright 2021 Bien - <%= link_to "About", about_path %> - <%= link_to "Terms and conditions", terms_path %>
    </footer>
  </body>
</html>
