<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for :page_title %> - Bien Reviews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to root_path do %>
          <%= image_tag "bien-logo.svg" %>
        <% end %>
      </h1>
      <nav>
        <div class="button">
          <%= link_to "Add a review", new_review_path %>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      Copyright 2021 Bien 
    </footer>
  </body>
</html>
